@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft.ttf') format('truetype');
}


.encabezado-login{
    height: 150px;
    display: flex;
    flex-direction: row;

}


.izquierdo{
    background-color: rgb(17, 17, 17);
    width: 500px;
}

.centro{
    background-color: rgb(17, 17, 17);
    flex:1;
    max-width: 500px;
}
.derecho{
    background-color: rgb(17, 17, 17);
    flex: 1;
}

.INICIO{

    vertical-align: top;
    color: rgb(255, 209, 118);
    background-color: rgb(17, 17, 17);
    border: 0px;
    position: relative;
    top: 75px;
    left: 50px;
    font-family: Minecraft;

}

.ACERCA{

    vertical-align: top;
    color: rgb(255, 209, 118);
    background-color: rgb(17, 17, 17);
    border: 0px;
    position: relative;
    top: 20px;
    left: 50px;
    font-family: Minecraft;

}


.ACCESO{

    vertical-align: top;
    color: rgb(255, 209, 118);
    background-color: rgb(17, 17, 17);
    border: 0px;
    position: relative;
    top: 75px;
    font-family: Minecraft;

}

.Letra{
    width: 200px;
    color: rgb(255, 209, 118);
    font-family: Minecraft;

}

.contenedor{



  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 100%; 
  height: 100vh; 


}


.formulario {
    width: 300px;
    padding: 20px;
    border: 1px solid #969696; 
    
}

.Input-form{


    border: 1px solid #969696; 
    


}

.minecraft_button{

    margin-top: 50px ;
    border: 1px solid #969696; 
    background-color: white;
    color: rgb(30, 103, 176);
    font-family: Minecraft;

}

.Letra_form{

    
    font-family: Minecraft;
    color: rgb(30, 103, 176);




}

.input-box{

    justify-content: center; 
    align-items: center;
}