/* Estilos Base */


@font-face {
  font-family: 'halflife2';
  src: url('../fonts/halflife2.ttf');
  font-size: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'StretchPro';
  src: url('../fonts/StretchPro.otf');
  font-size: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Minecraft';
  src: url('../fonts/Minecraft.ttf');
  font-size: smaller;
  font-weight: normal;
}

@font-face {
  font-family: 'urban-jungle-demo';
  src: url('../fonts/urban-jungle-demo.ttf');
  font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Minecraft';
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  /*font-family: Arial, sans-serif; */
  font-size: 20px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
}

a {
  color: #F7AE00; 
  text-decoration: none;
  transition: color 0.1s ease;
}

a:hover {
  color: #004B85; /* Añadir un poco de interactividad */
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

/* Cabecera y Navegación */
header {
  background-color: #171717;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

nav {
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

h1 {
  /*font-family: "Roboto", sans-serif;*/
  font-weight: bold;
  font-size: 40px;
  color:  #004B85;
  text-align: center;
}

h2 {
  /*
  font-family: "Roboto", sans-serif; */
  font-weight: bold;
  font-size: 26px;
  color:  #004B85;
}

/* Secciones y Contenido */
.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 1000px;
  margin: 20px auto;
  padding: 40px;
  background-color: #fff;
  border-style: solid;
  border-color: #b3b0ab;
  /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease; 
  background-image: linear-gradient(to right top, #ffffff, #f9f9f9);*/
  align-items: center;
}

section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 8px; 
}

img {
  max-width: 100%;
  height: auto;
}

/* Responsividad */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  
  h1, h2 {
    font-size: 24px; /* Ajuste para que no sea tan grande en móviles */
  }
  
  .container {
    width: 90%;
    padding: 10px;
  }

  nav {
    flex-direction: column; /* Enlaces de navegación en columna para móviles */
    gap: 10px;
  }
}

/* Ajustes adicionales para mejorar la accesibilidad y estética */
/*
:focus {
  outline: 3px solid #99999959;
  outline-offset: 2px;
}

*/
.nombre-grupo {
  transition-duration: 0.5s;
  color:#004B85
}
.nombre-grupo:hover {
  font-family: 'urban-jungle-demo';
  font-size: 64px;
  letter-spacing:16px;
  background-image: url('../img/fire.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-background-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  color:rgba(0, 0, 0, 0);
  text-shadow: 0px 0px 1px #f7ad0056;
}

.button_inicio {
  color: #F7AE00;
  background-color: #004B85;
  border-style: solid;
  border-color: #004B85;
  font-size: larger;
  padding: 20px 50px;
  margin: 0;
}

.login-container {
  align-items:start;
}

.login-title {
  display: flex;
}

.minecraft_button{
  padding: 7px 15px;
  font-size: large;
  background-color: #000000;
  background-image:url(https://media.minecraftforum.net/attachments/353/519/638398842855829311.jpeg) ;
  background-size: cover;
  cursor: pointer;
  border-width: 1px;
  border-style: outset;
  transition-duration: 0.2s;

  color: white;
  
  -webkit-text-stroke: 4px rgb(83, 83, 83);
  paint-order: stroke fill;
}

.minecraft_button:hover{
  box-shadow: 1px 1px 3px #00000069; 
  
  scale: 102.5%;
}

.minecraft_button:active{
  opacity: 0.85;
  
}



.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}



.login-input {
  border-width: 3px;
  border-style: solid;
  border-radius: 0;
  border-color: #b3b0ab;
  padding: 10px 10px;
  color:#004B85;
  font-size: medium;
}

.remember {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  color: #004B85;
  font-size: normal;
  margin-left: 5px;
}


.remember input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height:  13px;
  width: 13px;
}




.remember__checkmark {
  top: 0;
  left: 0;
  padding: 5px;
  height: 13px;
  width: 13px;
  background-color: #eee;
}

.remember:hover input ~ .remember__checkmark {
  background-color: #b3b0ab;
  outline: 3px solid #eee;
  outline-offset: 2px;
}

/* cuando el checkbox esta checkeado */
.remember input:checked ~ .remember__checkmark {
  background-color: #004B85;
  outline: 3px solid #004B85;
  outline-offset: 2px;

}

.remember-button {
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  justify-content: space-between;
}
