<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link rel="stylesheet" href="css/canchas.css">

</head>
<body>
  <header>
    <h1 class="">Gestor canchas USM</h1>
    <nav>
      <a href="/">Inicio</a>
      <a href="/acerca">Acerca de</a>
      <a href="/integrantes">Integrantes del grupo</a>
    </nav>
  </header>

  <main>
  
    <div class="container">
        
      <div>

        <h1 class="font">Canchas</h1>

        <button class="filter">filtrar</button>
  
      <div>

      <div class="caja">
        <h1 class="font">Casa Central</h1>
        <div>

          <div class="header">

            <button class="B1"></button>

          </div>
          <div class="header">

          <button class="B2"></button>
          
          </div>


          <div class="header">

            <button class="B3"></button>
            
          </div>

          <div>

            <div class="header">

              <button class="B4"></button>
  
            </div>
          </div>

        </div>
      </div>


      <div class="caja">
        <h1 class="font">San Joaquín</h1>
        <div>

          <div class="header">

            <button class="B5"></button>

          </div>
          <div class="header">

          <button class="B6"></button>
          
          </div>


        </div>
      </div>

      <div class="caja">
        <h1 class="font">Vitacura</h1>
        <div>

          <div class="header">

            <h2>No existe</h2>

          </div>



        </div>
      </div>
       
    </div>
  </main>
</body>
</html>