<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link rel="stylesheet" href="css/horario.css">

</head>
<body>
  <header>
    <h1 class="">Gestor canchas USM</h1>
    <nav>
      <a href="/">Inicio</a>
      <a href="/acerca">Acerca de</a>
      <a href="/integrantes">Integrantes del grupo</a>
    </nav>
  </header>

  <main>
  
    <div class="container">
        
      <div>

        <h1 class="font">Cancha de Basketball</h1>
        <h1 class="font">Campus San Joaquín</h1>
  
      <div>

      <div class="caja">
        <h1 class="font">Horario disponible Cancha</h1>
        <input type="week"></div>
        <div>

          <div class="flex">



            <div class="flex_Block">
                Bloques de horario
                <div class="Block">
                   1-2
                </div>
                <div class="Block">
                 2-3
                </div>
                <div class="Block">
                  3-4
                </div>
                <div class="Block">
                   4-5
                </div>
                <div class="Block">
                  5-6
                </div>
                <div class="Block">
                   6-7
                </div>
                <div class="Block">
                   7-8
                </div>
                <div class="Block">
                   8-9
                </div>
                <div class="Block">
                  9-10
                </div>
                <div class="Block">
                  10-11
                </div>
            </div>

            <div class="flex">




                <div class="flex_inside">
                    Lunes
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                </div>







                <div class="flex_inside">
                    Martes


                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                </div>







                <div class="flex_inside">
                    Miercoles


                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                </div>





                <div class="flex_inside">
                    Jueves


                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                </div>







                <div class="flex_inside">
                    Viernes


                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                    <div>
                        <button class="Red_Block"></button>
                    </div>
                    <div>
                        <button class="Green_Block"></button>
                    </div>
                </div>
            </div>




          </div>


        </div>
      </div>
      
      
    </div>
  </main>
</body>
</html>