<!DOCTYPE html>
<html lang="es">
  <% include head.html %>
  <body>
  <% include header.html %>
  
  <main>
    <div class="container">
      <h2>Integrantes del Grupo</h2>
      <section class="integrantes">
        <article>
          <img style="width: 25%" src="img/integrante1.jpg" alt="Sebastian Osses aka Sureño">
          <h3>Sebastian Osses</h3>
          <p>Analista.</p>
        </article>
        <article>
          <img src="imagen2.jpg" alt="Nombre del integrante 2">
          <h3>Nombre del integrante 2</h3>
          <p>Cargo o descripción del integrante 2.</p>
        </article>
        <article>
          <img src="imagen3.jpg" alt="Nombre del integrante 3">
          <h3>Nombre del integrante 3</h3>
          <p>Cargo o descripción del integrante 3.</p>
        </article>
        <article>
          <img src="imagen4.jpg" alt="Nombre del integrante 4">
          <h3>Nombre del integrante 4</h3>
          <p>Cargo o descripción del integrante 4.</p>
        </article>
      </section>
    </div>
  </main>

</body>
</html>