<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    
    <header>
        <h1 class="">Registro</h1>
        <nav>
          <a href="/">Inicio</a>
          <a href="/acerca">Acerca de</a>
          <a href="/integrantes">Integrantes del grupo</a>
        </nav>
    </header>


    <div class="container">
        <span class="icon-close"><ion-icon name="close-sharp"></ion-icon></span>

        <div class="form-box login">
            <h2>Formulario de registro</h2>
            <form action="#">

                <div class="caja">
                    <div class="caja">

                        <button type="submit" class="minecraft_button">Ingresar Foto</button>
            
                    </div>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-sharp"></ion-icon></span>
                    <input type="email" required>
                    <label>Nombre Completo</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-sharp"></ion-icon></span>
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-sharp"></ion-icon></span>
                    <input type="password" required>
                    <label>Contraseña</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-sharp"></ion-icon></span>
                    <input type="password" required>
                    <label> Confirme contraseña</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-sharp"></ion-icon></span>
                    <input type="password" required>
                    <label> Ingrese Rol USM</label>
                </div>

                <button type="submit" class="minecraft_button">Registrar</button>

            </form>
        </div>



</body>
</html>