<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto TEL335 // Nombre del Grupo</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <header>
    <h1>Sobre el proyecto</h1>
    <nav>
      <a href="/">Inicio</a>
      <a href="/acerca">Acerca de</a>
      <a href="/integrantes">Integrantes del grupo</a>
    </nav>
  </header>
  <main>
    <div class="container">
        <section>
            <h2>Enunciado del proyecto</h2>
            <p>El objetivo de este proyecto es desarrollar un sistema de reserva de canchas para nuestra 
                universidad, el cual deberá facilitar la gestión y reserva de espacios deportivos por parte de 
                estudiantes, personal docente y administrativo. Este sistema permitirá optimizar el uso de las 
                instalaciones deportivas, garantizar una distribución equitativa del tiempo de uso y mejorar 
                la experiencia de los usuarios al proporcionar un proceso de reserva sencillo y eficiente. En 
                este proyecto deberán analizar los requisitos funcionales, diseñar una solución que los cumpla 
                y desarrollar un prototipo del software que será evaluado por un comité de la universidad. 
                Este proyecto busca resolver una necesidad práctica en el ámbito universitario y brindar a los 
                estudiantes la oportunidad de aplicar sus conocimientos en un escenario real, enfrentando 
                desafíos de diseño, desarrollo e implementación de sistemas informáticos.
                 </p>
        </section>
        <section>
          <h2>Consideraciones del proyecto</h2>
          <p>De acuerdo con las políticas de la universidad, los colores a utilizar son los siguientes: #004B85 / #008452 / #D60019 / #F7AE00 / #000000 </p>
        </section>
        <section>
            <h2>Primer Hito</h2>
            <p>Para comenzar la evaluación del primer hito se solicitará a los grupos realizar un mockup en 
                conjunto de una explicación de las decisiones tomadas en el desarrollo para afrontar este problema.
                Identificando las rutas y haciendo una separación de cuales vistas son visibles para usuarios y 
                administradores. </p>
        </section>
        <section>
            <h2>Libertades del proyecto</h2>
            <p>Como parte del proceso de aprendizaje, este esqueleto de aplicación es solo una base para el proyecto, es obligación utilizar node.js en conjunto a express. El resto de librerías son permitidas sin ninguna dificultad. 
             Requisitos extrafuncionales que vayan agregando serán considerados como puntaje adicional siempre y cuando cumplan con un mínimo viable para el proyecto.
            </p>
        </section>
        <section>
            <a href="mailto:christian.riquelmep@usm.cl"> christian.riquelmep@usm.cl</a>
        </section>
    </div>
  </main>
</body>
</html>