<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <header>
    <h1>Proyecto TEL335</h1>
    <nav>
      <a href="/">Inicio</a>
      <a href="/acerca">Acerca de</a>
      <a href="/integrantes">Integrantes del grupo</a>
    </nav>
  </header> 
    <div class="container">
        <section>
          <h2>Cancha</h2>
          <p>Horarios</p> 
        </section>
       
    </div>
  </main>
</body>
</html>