<!DOCTYPE html>
  <header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="css/style.css">
  </header>

  <body>
    <header>
      <h1><%- title %></h1>
      <nav>
        <a href="/">Inicio</a>
        <a href="/acerca">Acerca de</a>
        <a href="/integrantes">Integrantes del grupo</a>
      </nav>
    </header>

    <main>
      <div class="container">
        <h1>Bienvenidos al gestor de canchas USM</h1>

        <button href="/canchas" class="button_inicio">Reserva de horarios</button>
      </div>
    </main>
  </body>
</html>