<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Integrantes del Grupo</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <header>
    <h1>Nombre de Grupo</h1>
    <nav>
      <a href="/">Inicio</a>
      <a href="/acerca">Acerca de</a>
      <a href="/integrantes">Integrantes del grupo</a>
    </nav>
  </header>
  <main>
    <div class="container">
      <h2>Integrantes del Grupo</h2>
      <section class="integrantes">
        <article>
          <img src="imagen1.jpg" alt="Nombre del integrante 1">
          <h3>Nombre del integrante 1</h3>
          <p>Cargo o descripción del integrante 1.</p>
        </article>
        <article>
          <img src="imagen2.jpg" alt="Nombre del integrante 2">
          <h3>Nombre del integrante 2</h3>
          <p>Cargo o descripción del integrante 2.</p>
        </article>
        <article>
          <img src="imagen3.jpg" alt="Nombre del integrante 3">
          <h3>Nombre del integrante 3</h3>
          <p>Cargo o descripción del integrante 3.</p>
        </article>
        <article>
          <img src="imagen4.jpg" alt="Nombre del integrante 4">
          <h3>Nombre del integrante 4</h3>
          <p>Cargo o descripción del integrante 4.</p>
        </article>
      </section>
    </div>
  </main>

</body>
</html>