<!DOCTYPE html>
<html lang="en">
<% include head.html %>
<body>
<% include header.html %>
    <div class="container login-container">

            <div class="login-title">
                <h2>Log In</h2>
            </div>
            <form action="#">
                <div class="input-box">
                    <p class="input-box__text">Email</p>
                    <input class ="login-input" type="email" required>
                    
                </div>
                <div class="input-box">
                    <p class="input-box__text">password</p>
                    <input class="login-input" type="password" required>
                </div>

                <div class="remember-button">
                    <label class="remember">

                        <input type="checkbox">
                        <span class="remember__checkmark"></span>
                        Remember me
                    </label>
                    
                    <button type="submit" class="minecraft_button">
                        Log In
                    </button>
                </div>
            </form>
        </div>



</body>
</html>