<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    
    <header>
        <h1 class="">Login</h1>
        <nav>
          <a href="/">Inicio</a>
          <a href="/acerca">Acerca de</a>
          <a href="/integrantes">Integrantes del grupo</a>
        </nav>
    </header>


    <div class="container">
        <span class="icon-close"><ion-icon name="close-sharp"></ion-icon></span>

        <div class="form-box login">
            <h2>Login</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-sharp"></ion-icon></span>
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-sharp"></ion-icon></span>
                    <input type="password" required>
                    <label>contraseña</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox"> Remember me</label>
                </div>
                <button type="submit" class="minecraft_button">Login</button>
                <div class="login-register">
                    <p>olvido la contraseña <a href="#" class="register-link">registrarme</a></p>
                </div>

            </form>
        </div>



</body>
</html>