* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraft';
  }


  header {
    background-color: #171717;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  }

  body {
    /*font-family: Arial, sans-serif; */
    font-size: 20px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    justify-content: center; 
    gap: 20px; 
  }

  a {
    color: #F7AE00; 
    text-decoration: none;
    transition: color 0.1s ease;
  }

  a:hover {
    color: #004B85; /* Añadir un poco de interactividad */
    text-decoration: underline;
  }


  h1 {
    /*font-family: "Roboto", sans-serif;*/
    font-weight: bold;
    font-size: 40px;
    color:   #F7AE00;
    text-align: center;
  }
  
  h2 {
    /*
    font-family: "Roboto", sans-serif; */
    font-weight: bold;
    font-size: 26px;
    color:  #004B85;
  }


  .container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
    background-color: #fff;
    border-style: solid;
    border-color: #b3b0ab;
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
    background-image: linear-gradient(to right top, #ffffff, #f9f9f9);*/
    align-items: center;
  }


  .font{
    display: inline-block;
    font-weight:normal;
    color: #000000;
    font-size: 20px;
    text-align: left;

  }

  .SJ{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
    background-color: #fff;
    border-style: solid;
    border-color: #b3b0ab;
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
    background-image: linear-gradient(to right top, #ffffff, #f9f9f9);*/
    align-items: center;
  }

  .filter{
    display: inline-block;
    margin-left: auto;
    background-color: white;
    border-color: white;
    border-style: none;
    color: #171717;
    text-decoration: none; 
    transition: color 0.1s;
    

  }

  .filter:hover{

    text-decoration: underline;
    color: #004B85;
    cursor: pointer;


  }

  .header{

    display: inline-block;
    flex-direction: column;
    row-gap: 20px;
    max-width: 1000px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-style: solid;
    border-color: #b3b0ab;
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
    background-image: linear-gradient(to right top, #ffffff, #f9f9f9);*/
    align-items: center;

  }


  .caja{

    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
    background-color: #fff;
    border-style: solid;
    border-color: #b3b0ab;
  }

  .B1{/*Basket*/
    vertical-align: top;
    padding: 100px 100px;
    font-size: large;
    background-image:url(https://static.planetminecraft.com/files/resource_media/screenshot/1312/2013-03-18_104920_5081032_lrg.jpg) ;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;


    
  }

  .B2{
    vertical-align: top;
    padding: 100px 100px;
    font-size: large;
    background-image:url(https://pm1.aminoapps.com/6936/af3f0fdd54f86061f37ee2aff8f6cd6189dca24br1-854-480v2_hq.jpg);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;


    
  }


  .B3{
    vertical-align: top;
    padding: 100px 100px;
    font-size: large;
    background-image:url(https://i.pinimg.com/originals/67/4f/9d/674f9dbf43702a03bd8d56b00eb0a3b3.jpg);
    background-size: cover;
    transform: scaleX(-1);
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;


    
  }

  .B4{
    vertical-align: top;
    padding: 100px 100px;
    font-size: large;
    background-image:url(https://static.planetminecraft.com/files/image/minecraft/project/2022/095/15737068-bmttitle_l.jpg);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    
  }




  .B5{
    vertical-align: top;
    padding: 100px 100px;
    font-size: large;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAkxVohxHnUJfxZcYKsJD0DBPx8dEywWoVNLsKJfq67A&s);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;


    
  }

  .B6{
    vertical-align: top;
    padding: 100px 100px;
    font-size: large;
    background-image:url(https://static.planetminecraft.com/files/resource_media/screenshot/1127/20110705_142744_148263.jpg);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    
  }

  .B1:hover{
    cursor:pointer;
  }

  .B2:hover{
    cursor:pointer;
  }

  .B3:hover{
    cursor:pointer;
  }

  .B4:hover{
    cursor:pointer;
  }

  .B5:hover{
    cursor:pointer;
  }

  .B6:hover{
    cursor:pointer;
  }
